@font-face {
  font-family: 'Zpix';
  src: url('/fonts/zpix.woff2') format('woff2'),
    url('/fonts/zpix.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Zpix', sans-serif;
}

a {
  text-decoration: none;
}
