@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&display=swap');

.main {
  display: flex;
  background: var(--main-bg);
  overflow-x: hidden;
  height: calc(100vh - 30px - 25px); /* 减去 Titlebar (30px) 和 Bottombar (25px) */
}

.content {
  padding: 2rem;
  color: var(--text-color);
  font-family: 'Zpix', sans-serif;
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  min-height: 0;
  box-sizing: border-box;
}

.content {
  scrollbar-width: auto;
  scrollbar-color: var(--accent-color);
}

.content::-webkit-scrollbar {
  width: 15px;
}

.content::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
  border-left: 1px solid #1e1f29;
}

.content::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border-left: 1px solid #1e1f29;
}

.editorColumn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .content {
    padding: 2rem 1rem;
  }
}
